[user]
	name = Lily Critchley
	email = LilyPhoenixC@gmail.com
	signingkey = 986A3CBB5AE9D556
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[branch]
	autosetuprebase = always
	required = true
[core]
	editor = nvim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
