[user]
	name = Lenny Critchley
	email = LennyPhoenixC@gmail.com
	signingkey = D4C986C47EE21E37
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[branch]
	autosetuprebase = always
	required = true
[core]
	editor = nvim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
