(
    max_notifications: 0,
    min_window_width: 256,
    min_window_height: 32,

    timeout: 10000,
    poll_interval: 6,

    debug: false,
    debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0),
    debug_color_alt: Color(r: 1.0, g: 0.0, b: 0.0, a: 1.0),

    layout_blocks: [
        (
            name: "root",
            parent: "",
            hook: Hook(parent_anchor: BR, self_anchor: BR),
            offset: Vec2(x: -8.0, y: -8.0),
            // https://github.com/Toqozz/wired-notify/wiki/NotificationBlock
            params: NotificationBlock((
                monitor: 0,
                border_width: 2.0,
                border_rounding: 0.0,
                background_color: Color(hex: "#0A0E14"),
                border_color: Color(hex: "#59C2FF"),
                border_color_low: Color(hex: "#59C2FF"),
                border_color_critical: Color(hex: "#FF3333"),
                border_color_paused: Color(hex: "#fabd2f"),

                gap: Vec2(x: 0.0, y: 2.0),
                notification_hook: Hook(parent_anchor: TR, self_anchor: BR),
            )),
        ),

        (
            name: "image",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ImageBlock((
                image_type: Hint,
                padding: Padding(left: 7.0, right: 0.0, top: 7.0, bottom: 7.0),
                rounding: 3.0,
                scale_width: 64,
                scale_height: 64,
                filter_mode: Lanczos3,
            )),
        ),

        (
            name: "summary",
            parent: "image",
            hook: Hook(parent_anchor: MR, self_anchor: BL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%s",
                font: "DejaVuSans Mono Bold 12",
                ellipsize: Middle,
                color: Color(hex: "#f8f8f2"),
                color_hovered: Color(hex: "#bfbfbf"),
                padding: Padding(left: 7.0, right: 7.0, top: 7.0, bottom: 0.0),
                dimensions: (width: (min: 50, max: 500), height: (min: 0, max: 50)),
            )),
        ),

        (
            name: "body",
            parent: "summary",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%b",
                font: "DejaVuSans Mono 10",
                color: Color(hex: "#f8f8f2"),
                color_hovered: Color(hex: "#bfbfbf"),
                padding: Padding(left: 7.0, right: 7.0, top: 0.0, bottom: 7.0),
                dimensions: (width: (min: 50, max: 500), height: (min: 0, max: 150)),
            )),
        ),
    ],

    // https://github.com/Toqozz/wired-notify/wiki/Shortcuts
    shortcuts: ShortcutsConfig (
        notification_interact: 1,
        notification_close: 2,
        // notification_closeall: 99,
        // notification_pause: 99,

        notification_action1: 3,
        // notification_action2: 99,
        // notification_action3: 99,
        // notification_action4: 99,
    ),
)
